body {
  background: #c31432; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #240b36, #c31432); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  margin: auto;

  background-image: url("../imgs/baby.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
